.offer {
  background-image: url(/images/fonoffer.png?78dd4c357f7229c4e42e7f575ab99c5d);
  margin-top: 55px;
  padding: 4% 0;
}
.offer .card {
  border: none;
  background-color: #0a53be;
  color: white;
}

.services {
  padding: 50px 0;
}
.services .card {
  border: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
  border-radius: 15px;
}
.services .card .card-footer {
  background-color: white;
  border: none;
}
.services .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
