.offer {
  background-image: url("../../public/images/offer/fonoffer.png");
  margin-top: 55px;
  padding: 4% 0;

  .card{
    border:none;
    background-color: #0a53be;
    color: white;

  }
}

.services{
  padding: 50px 0;
  .card{
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
    border-radius: 15px;
    .card-footer{
      background-color: white;
      border: none;
    }
  }
  .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

}







