.offer {
  background-image: url("../../public/images/offer/fonoffer.png");
  margin-top: 55px;
  padding: 4% 0;

  .card{
    border:none;
    background-color: #0a53be;
    color: white;

  }
}




